<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Basic Bootstrap Table -->
<div class="card">
	<h5 class="card-header">회원 리스트</h5>
</div>
<div class="card-group navbar mb-0">
	<div class="me-auto">
		<div class="input-group">
			<span class="input-group-text">총 건수</span>
			<span class="input-group-text value" th:text="${list.size()}">136525</span>
		</div>
	</div>
</div>
<div class="card">
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
			<tr>
				<th>이름</th>
				<th>골</th>
				<th>도움</th>
				<th>공격포인트</th>
			</tr>
			</thead>
			<tbody class="table-border-bottom-0">
			<tr th:each="item : ${list}">
				<td th:text="${item.name}">홍길동</td>
				<td><a th:href="@{/member/goals/{id}(id = ${item.id})}"><strong th:text="${item.goalCount}">0</strong></a></td>
				<td><a th:href="@{/member/assists/{id}(id = ${item.id})}"><strong th:text="${item.assistCount}">0</strong></a></td>
				<td th:text="${item.attackPoint}">0</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!--/ Basic Bootstrap Table -->
</html>