<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Menu -->
<aside th:fragment="menu" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="javascript:void(0);"  class="app-brand-link">
    		<span class="app-brand-logo demo"><svg th:replace="~{fragment/logo :: logo}"></svg></span>
			<span class="app-brand-text demo menu-text fw-bolder ms-2">골첵</span>
		</a>
		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1">
		<li class="menu-item"
			th:classappend="${servletPath.equals('/me') ? 'active' : ''}">
			<a th:href="@{/me}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Home">홈</div>
			</a>
		</li>

		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">User</span>
		</li>
		<li class="menu-item"
			th:classappend="${servletPath.contains('/member') ? 'active' : ''}">
			<a href="#" th:href="@{/member}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-user"></i>
				<div data-i18n="Member">회원</div>
			</a>
		</li>
		<!-- Service -->
		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">Match</span>
		</li>
		<li class="menu-item"
			th:classappend="${servletPath.contains('/match') ? 'active' : ''}">
			<a href="#" th:href="@{/match}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-trophy"></i>
				<div data-i18n="Match">매치</div>
			</a>
		</li>
	</ul>
</aside>
<!-- / Menu -->