<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  class="light-style"
	  dir="ltr"
	  data-theme="theme-default"
	  data-assets-path="/assets/"
	  data-template="vertical-menu-template-free">
<head th:replace="/fragment/header :: header">
  <title>API Error</title>
</head>
<body>
<!-- Content -->

<!-- Error -->
<div class="container-xxl container-p-y">
	<div class="misc-wrapper">
		<h2 class="mb-2 mx-2" th:text="|${error.code} Error :(|"> </h2>
		<p class="mb-4 mx-2" th:text="|Oops! 😖 ${error.message}|"></p>
		<a th:href="@{${redirect}}" class="btn btn-primary">Back to page</a>
		<div class="mt-3">
          <img alt="page-misc-error-light"
               class="img-fluid"
               data-app-dark-img="illustrations/page-misc-error-dark.png"
               data-app-light-img="illustrations/page-misc-error-light.png"
               src="/assets/img/illustrations/page-misc-error-light.png"
               width="500"/>
		</div>
	</div>
</div>
<!-- /Error -->
<th:block th:replace="/fragment/script :: script"></th:block>
</body>
</html>
