<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Form controls -->
<div class="card mb-4">
	<h5 class="card-header">매치 생성</h5>
	<form th:action th:object="${item}" method="post">
		<div class="card-body">
			<div class="mb-3">
				<label for="otherTeamName" class="form-label">상대팀명</label>
				<input type="text" class="form-control" id="otherTeamName" th:field="*{otherTeamName}"/>
			</div>
			<div class="mb-3">
				<label for="date" class="col-md-2 col-form-label">매치일자</label>
				<input type="datetime-local" class="form-control" id="date" th:field="*{date}"/>
			</div>
			<a class="btn btn-secondary" th:href="@{/match}">취소</a>
			<button class="btn btn-primary" type="submit">등록</button>
		</div>
	</form>
</div>
</html>


