<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Form controls -->
<div class="card mb-4">
	<h5 class="card-header">매치 상세</h5>
	<form th:action="@{/match/lose/{id}(id = ${item.id})}" th:object="${item}" method="post">
		<div class="card-body">
			<div class="mb-3">
				<label for="id" class="form-label">ID</label>
				<input type="text" class="form-control" id="id" th:value="${item.id}" readonly/>
			</div>
			<div class="mb-3">
				<label for="otherTeamName" class="form-label">상대팀명</label>
				<input type="text" class="form-control" id="otherTeamName" th:value="${item.otherTeamName}" readonly/>
			</div>
			<div class="mb-3">
				<label for="date" class="form-label">매치일자</label>
				<input type="text" class="form-control" id="date" th:value="${item.date}" readonly/>
			</div>
			<div class="mb-3">
				<label for="goalCount" class="col-md-2 col-form-label">득점</label>
				<input type="number" class="form-control" id="goalCount" th:value="${item.goals.size()}" readonly/>
			</div>
			<div class="mb-3">
				<label for="lose" class="col-md-2 col-form-label">실점</label>
				<input type="number" class="form-control" id="lose" th:field="*{lose}"/>
			</div>
			<a class="btn btn-secondary" th:href="@{/match}">취소</a>
			<button class="btn btn-primary" type="submit">수정</button>
		</div>
	</form>
</div>
<div class="card-group navbar mb-0">
	<div class="col-auto">
		<a th:href="@{/match/{id}/goal/add(id = ${item.id})}" class="btn btn-primary" role="button"><i class="bx bx-edit"></i> 골 등록</a>
	</div>
</div>
<div class="card">
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
			<tr>
				<th>득점</th>
				<th>도움</th>
				<th>삭제</th>
			</tr>
			</thead>
			<tbody class="table-border-bottom-0">
			<tr th:each="goal : ${item.goals}">
				<td th:text="${goal.memberName}">홍길동</td>
				<td th:text="${goal.assistMemberName}">오민성</td>
				<td>
					<form th:action="@{/match/goal/remove/{id}(id = ${goal.id})}" th:object="${item}" method="post">
						<button class="btn btn-primary" type="submit">삭제</button>
					</form>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</html>


